
@{
    ViewBag.Title = "GoDigitalPro";
}

<div class="jumbotron">
    <h1>GoDigitalProRetailManager</h1>
    <p class="lead">A Retail Management System built by GoDigitalPro Digital Solutions</p>
</div>

